.menubar{
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
}
.inputbox{
    margin: 0%;
    position: absolute;
    right: 2%;
    top: 45px;
}
ul li{
list-style: none;
display: inline;
margin: 5px;
}
.box1{
    width: 300px;
    height: 300px;
    padding: 40px;
    border: 2px solid rgba(0,0,0,0.11);
    margin: 1rem;
}
.circle{
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 50%;
    margin: 1rem auto;
}
.box1 input{
    color: white;
    padding: 10px;
    width: 12rem;
    margin: 1rem 20%;
    background: gray;
}